{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./images/background.png");
  background-repeat: repeat;
  background-size: auto;
}

.adminLogo {
  width: 200px;
}

.carousel-item {
  display: flex;
  justify-content: center;
  transform: scale(0.8);
}

.cardHighlight{
  min-height: 100%;
}

.nav-container {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.yellow1 {
  background-color: #FFB323;
  
}

.App{
  font-family: 'Nunito', sans-serif;
}

.navbar {
  justify-content: center;
  width: 100%;
}

.navbar-brand .branding {
  width: 100%;
  height: 55px;
}

#link-register {
  font-size: 0.9em;
}

#link-register #register {
  text-decoration: none;
}

.product-img {
  width: 150px;
  height: 125px;
}

.all-product-img {
  width: 100%;
  height: 50%;
  margin-bottom: 20px;
}

.active-product-img {
  width: 90%;
  height: 50%;
  margin: 20px auto;
}


